<nav class="navbar navbar-expand-lg bg-light" *ngIf="pagina?.mostrarNavbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown ms-5">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Paginas
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let page of paginas">
              <a
                class="dropdown-item"
                [routerLink]="['/companies', page.user, 'pages', page._id]"
                >{{ page.nombre }}</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid p-0">
  <div class="row p-0">
    <div
      *ngFor="let modulo of pagina?.listHtml; let i = index"
      [innerHTML]="sanitizer.bypassSecurityTrustHtml(modulo.html)"
      [ngClass]="['col-' + modulo.col_s, 'col-lg-' + modulo.col_g]"
      [class.bloqueEstatico]="modulo.tipoContenido === 'estatico'"
      [class.bloqueHTML]="modulo.tipoContenido !== 'estatico'"
    ></div>
  </div>
</div>
