.bloqueEstatico{
    background-color: white;
    outline-color: blueviolet;
    outline-width: 1px;
    outline-style: dashed;
}
.bloqueHTML{
    background-color: white;
    outline-color: coral;
    outline-width: 1px;
    outline-style: dashed;
}

.aniadir{
    width: 50px;
    height: 50px;
    color: white;
    top: 20px;
    left: 50px;
}

/* Make the editable container look like the inside of a native word processor application. */
.document-editor__editable-container {
    padding: calc( 2 * var(--ck-spacing-large) );
    background: var(--ck-color-base-foreground);

    /* Make it possible to scroll the "page" of the edited content. */
    overflow-y: scroll;
}

.document-editor__editable-container .ck-editor__editable {
    /* Set the dimensions of the "page". */
    width: 15.8cm;
    min-height: 21cm;

    /* Keep the "page" off the boundaries of the container. */
    padding: 1cm 2cm 2cm;

    border: 1px hsl( 0,0%,82.7% ) solid;
    border-radius: var(--ck-border-radius);
    background: white;

    /* The "page" should cast a slight shadow (3D illusion). */
    box-shadow: 0 0 5px hsla( 0,0%,0%,.1 );

    /* Center the "page". */
    margin: 0 auto;
}
