<nav class="p-3 color-nav">
    <div class="container-flex">
        <div class="p-2"><img class="img-loguito" src="./../../assets/logito.png" alt=""></div>
        <div class="sub-flex">
            <div class="p-2"><a href="*" class="txt-estilos">Política de privacidad</a></div>
        </div>
    </div>
</nav>

<div class="p-5 container-flex-2">
    <div class="sombra">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Básico</h5>
            <p class="card-text">Ideal para negocios que se inician en el ecommerce y que, de vez en cuando, venden en tienda física</p>
            <h1 class="text-center">L. 300</h1>
        </div>
        </div>
    </div>
    <div class="sombra">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Shoppingnet</h5>
            <p class="card-text">Ideal para negocios en crecimiento que venden online o en tienda física</p>
            <h1 class="text-center">L. 600</h1>
        </div>
        </div>
    </div>
    <div class="sombra">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Premium</h5>
            <p class="card-text">Ideal para negocios en expansión que necesitan informes avanzados, reportes mensuales y mucho mas.</p>
            <h1 class="text-center">L. 7000</h1>
        </div>
        </div>
    </div>
</div>


<div class="table-responsive tbl-estilos">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="text-center">Características</td>
                <td>
                    <h5 class="card-title text-center">Básico</h5>
                    <h3 class="text-center">L. 300</h3>
                </td>
                <td>
                    <h5 class="card-title text-center">Shoppignet</h5>
                    <h3 class="text-center">L. 600</h3>
                </td>
                <td>
                    <h5 class="card-title text-center">Premium</h5>
                    <h3 class="text-center">L. 7000</h3>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">caracteristicas 1</td>
                <td class="text-center"><i class="fa-solid fa-check"></i></td>
                <td class="text-center"><i class="fa-solid fa-check"></i></td>
                <td class="text-center"><i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
                <td class="text-center">caracteristicas 2</td>
                <td
                class="text-center"><i class="fa-solid fa-check"></i></td>
                <td
                class="text-center"><i class="fa-solid fa-check"></i></td>
                <td
                class="text-center"><i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
                <td class="text-center">caracteristicas 3</td>
                <td class="text-center"><i class="fa-solid fa-check"></i></td>
                <td class="text-center"><i class="fa-solid fa-check"></i></td>
                <td class="text-center"><i class="fa-solid fa-check"></i></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td class="text-center"><button type="button" class="btn btn-primary">Adquirir</button></td>
                <td class="text-center"><button type="button" class="btn btn-primary">Adquirir</button></td>
                <td class="text-center"><button type="button" class="btn btn-primary">Adquirir</button></td>
            </tr>
        </tfoot>
    </table>
</div>


<div class="cont-preguntas p-3">
    <div><h3>Preguntas frecuentes</h3></div>
    <div>
        <h5>¿Hay algún cargo de configuración?</h5>
        <p>
            No. No hay cargos de configuración en ninguno de nuestros planes.
        </p>
    </div>
    <div>
        <h5>¿Hay algún cargo de configuración?</h5>
        <p>
            No. No hay cargos de configuración en ninguno de nuestros planes.
        </p>
    </div>
    <div>
        <h5>¿Hay algún cargo de configur</h5>
        <p>
            No. No hay cargos de configuración en ninguno de nuestros planes.
        </p>
    </div>
    <div>
        <h5>¿Hay algún cargo de configuración?</h5>
        <p>
            No. No hay cargos de configuración en ninguno de nuestros planes.
        </p>
    </div>
</div>


<footer class="footer-color">
    <div class="sub-flex">
        <div class="p-3"><a href="*" class="txt-estilos">Registro</a></div>
        <div class="p-3"><a href="*" class="txt-estilos">Términos y condiciones</a></div>
        <div class="p-3"><a href="*" class="txt-estilos">Política de privacidad</a></div>
        <div class="p-3"><a href="*" class="txt-estilos">Planes</a></div>
        <div class="p-3"><a href="*" class="txt-estilos">Redes sociales</a></div>
        <div><img src="./../../assets/Shoppignet.png" class="logo-estilos"></div>
    </div>
</footer>
