
<nav style="background-color: white;">
    <div class="container-flex">
        <div class="p-2"><img src="./../../../../assets/Shoppignet2.png" class="logo"></div>
        <div class="p-2"><button type="button" class="btn btn-primary" (click)="registrar()">Registro Usuarios</button></div>
    </div>
</nav>
<div style="background-color: #001f2c;">
    <h3 class="text-center h3-pad">Registra tu Empresa Ahora</h3>
    <form class="m-3 form">
        <table>
            <tr>
                <td>
                    <div><input type="text" class="m-4 form-control" placeholder="nombre de empresa"></div>
                    <div><input type="mail" class="m-4 form-control" placeholder="correo"></div>
                    <div><input type="password" class="m-4 form-control" placeholder="contraseña"></div>
                    <div><input type="number" class="m-4 form-control" placeholder="Número"></div>
                </td>
                <td>
                    <div><input type="text" class="m-4 form-control" placeholder="Tipo de negocio"></div>
                    <div><input type="text" class="m-4 form-control" placeholder="localidad"></div>
                    <div><input class="m-4 form-control" placeholder="Descripción"></div>
                </td>
            </tr>
            <tr>
                <td class="text-center" colspan="2">
                    <div class="p-3"><button type="button" class="btn btn-primary">Registrar</button></div>
                </td>
            </tr>
        </table>
    </form>
</div>