@media screen and (max-width: 577px) {
    table{
        background-color: white !important;
        caption-side: bottom !important;
        border-collapse: collapse !important;
        width: 70% !important;
        border-radius: 20px !important;
    }
}
h3{
    color: white;
}
.form{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    padding-bottom: 100px;
    border-radius: 10px;
}
.container-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
}
table{
    background-color: white !important;
    caption-side: bottom !important;
    border-collapse: collapse !important;
    width: 50% !important;
    border-radius: 20px;
}
input{
    width: 80%;
}
.h3-pad{
    padding-top: 70px;
}
.logo{
    width: 20%;
}