<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Carrito 2</a>
          </li>
          
        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <main>

    <div class="mt-5 text-center">
        <h1>Todos los productos</h1>
    </div>

    <div class="container">
        <div class="row">
                <div *ngFor="let producto of productoService.productos" class="col-3 mt-5">
                    <div class="card card-photo" style="width: 80%;">
                        <img src={{producto.imagen.secure_url}} class="card-img-top" alt="...">
                    
                        <div class="card-body">
                            <div class="d-flex justify-content-between ">
                                <h5 class="card-title">{{producto.nombre}}</h5>
                                <p class="card-text">L. {{producto.precio}}</p>
                            </div>
                        <a href="#" class="btn btn-warning btn-sm">Comprar</a>
                        </div>
                    </div>
                </div>
         
        </div>
    </div>
  </main>