<nav class="navbar navbar-expand-lg bg-navbar py-0">
  <div class="container-fluid">
    <img
      class="navbar-brand img-fluid logo ms-3"
      src="../../../assets/img/logo.png"
      alt="logo shoppingnet"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <div class="d-flex">
        <button
          class="btn me-3 text-white user"
          type="buton"
          id="btn-pro-plan"
          (click)="cerrarSesion()"
        >
          Cerrar sesion
        </button>
        <img
          class="img-fluid user rounded-circle me-5"
          src="../../../assets/img/user-img-test.png"
          alt="user image"
          id="user-image"
        />
      </div>
    </div>
  </div>
</nav>
