<div class="container-fluid">
    <div class="row">
        <div class="col-12 container-fluid border-bottom border-4 mb-4 mt-4" id="hr">
            <div class="row ">
                <div class="col-3 d-flex align-items-center">
                    <span>Titulo</span>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <span>Estado</span>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <span>Enlace</span>
                </div>
                <div class="col-3 d-flex justify-content-center ">
                    <button class="btn mb-1" id="btn-aniadir-page">Añadir pagina</button>
                </div>

            </div>
        </div>
        

        <div class="col-12 bg-white border mb-3 rounded-2" *ngFor="let pagina of paginas">
            <div class="row py-3">
                <div class="col-3 d-flex flex-column ">
                    <span>{{pagina.nombre | titlecase}}</span>
                    <span><small>Actualizado el {{pagina.updatedAt | date:'longDate'}}</small></span>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <button class="btn btn-outline-success rounded-pill ">{{pagina.detalle | titlecase}}</button>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <span>Ver</span>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <button class="btn" [routerLink]="['editar/',pagina._id]" >Editar</button>
                </div>
            </div>
        </div>

        
    </div>
</div>