<div class="d-flex justify-content-center pt-5" id="menu">
  <div class="list-group border-0">
    <h2 class="text-start fs-6" id="title-menu">Administracion</h2>

    <button
      type="button"
      class="list-group-item list-group-item-action border-0 menu-item"
      routerLink="usuarios"
      routerLinkActive="menu-item-activo"
    >
      <img src="../../../../assets/icons/icon-home.svg" alt="home" />
      <span class="align-middle">Usuarios</span>
    </button>
    <button
      type="button"
      class="list-group-item list-group-item-action border-0 menu-item"
      routerLink="plantillas"
      routerLinkActive="menu-item-activo"
    >
      <img src="../../../../assets/icons/icon-page.svg" alt="page" />
      <span class="align-middle">Plantillas</span>
    </button>

    <button
      type="button"
      class="list-group-item list-group-item-action border-0 menu-item"
    >
      <img src="../../../../assets/icons/icon-archivos.svg" alt="archivos" />
      <span class="align-middle">Archivos</span>
    </button>
    <button
      type="button"
      class="list-group-item list-group-item-action border-0 menu-item"
    >
      <img
        src="../../../../assets/icons/icon-configuraciones.svg"
        alt="configuraciones"
      />
      <span class="align-middle">Configuraciones</span>
    </button>
    <button
      type="button"
      class="list-group-item list-group-item-action border-0 menu-item"
    >
      <img src="../../../../assets/icons/icon-perfil.svg" alt="perfil" />
      <span class="align-middle">Perfil</span>
    </button>
  </div>
</div>
