<nav class="p-3 color-nav">
    <div class="container-flex">
        <div class="p-2"><img class="img-loguito" src="./../../assets/logito.png" alt=""></div>
        <div class="sub-flex">
            <div class="p-2"><a href="*" class="txt-estilos">Planes shoppingnet</a></div>
            <div class="p-2"><a href="*" class="txt-estilos">Acerca de shoppingnet</a></div>
            <div class="p-1"><button type="button" class="btn btn-success">Iniciar sesión</button></div>
        </div>
    </div>
</nav>

<section>
    <div class="section-fondo flex-container-column-2">
        <div class="mb-5 p-3"><img class="logo1-estilo" src="./../../assets/Shoppignet.png"></div>
        <div class="mb-5 p-3"><h2 class="txt-estilos">Tu sitio web, para emprender tu negocio</h2></div>
        <div class="mb-5 p-3"><button type="button" class="btn btn-success">Comenzar Ahora</button></div>
    </div>
    <svg viewBox="0 0 500 150" class="svg">
        <path d="M0.00,49.98 C192.15,166.30 232.78,190.97 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" class="path"></path>
    </svg>
    <div class="planes-estilos container-flex">
        <div class="sombra">
            <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Básico</h5>
                <p class="card-text">Ideal para negocios que se inician en el ecommerce y que, de vez en cuando, venden en tienda física</p>
                <h1 class="text-center">L. 300</h1>
            </div>
            </div>
        </div>
        <div class="sombra">
            <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Shoppingnet</h5>
                <p class="card-text">Ideal para negocios en crecimiento que venden online o en tienda física</p>
                <h1 class="text-center">L. 600</h1>
            </div>
            </div>
        </div>
        <div class="sombra">
            <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center">Premium</h5>
                <p class="card-text">Ideal para negocios en expansión que necesitan informes avanzados, reportes mensuales y mucho mas.</p>
                <h1 class="text-center">L. 7000</h1>
            </div>
            </div>
        </div>
    </div>
    <div class="centrado mt-5">
        <h2>Elige el plan Shoppingnet que mejor se acomode a tus necesidades, puedes cambiarlo en cualquier momento</h2>
    </div>
    <div class="flex-container-column">
        <div><img class="linea-abstracta" src="./../../assets/Linea-Abstracta.png"></div>
        <div><h3 class="m-3">Quienes somos</h3></div>
        <div><h5 class="m-3">Somos un equipo especializado de desarrolladores web, que trabajamos en una idea donde las personas sin tener conocimientos en programación, puedan crear su propio sitio web personalizable para impulsar sus vental al mercado electrónico con la facilidad que Shoppingnet les ofrece </h5></div>
        <div><h6 class="m-3">Derecho reservados</h6></div>
    </div>
    
</section>

<footer class="footer-color">
    <div class="sub-flex">
        <div class="p-3"><a href="*" class="txt-estilos">Registro</a></div>
        <div class="p-3"><a href="*" class="txt-estilos">Términos y condiciones</a></div>
        <div class="p-3"><a href="*" class="txt-estilos">Política de privacidad</a></div>
        <div class="p-3"><a href="*" class="txt-estilos">Planes</a></div>
        <div class="p-3"><a href="*" class="txt-estilos">Redes sociales</a></div>
        <div><img src="./../../assets/Shoppignet.png" class="logo-estilos"></div>
    </div>
</footer>