<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/808fd0ac4c.js" crossorigin="anonymous"></script>
</head>
  <body>
    
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Carrito 2</a>
              </li>
              
            </ul>

            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <main>
        <div class="container mt-5">
            <div class="row">
                <div class="col-5">
                    <div class="gallery">

                    
                        <img class="imagen-detalle rounded float-end" [src]="producto.imagen.secure_url" alt="">
                        
                    </div>
                </div>
                <div class="col-7">
                    <h1 class="ms-5">{{producto.nombre}}</h1>
                    <div class="ms-5 mt-5">
                        <h2 class="ms-5">{{producto.nombre}}</h2>
                        <p class="ms-5 mt-3">{{producto.descripcion}}</p>
                        <p class="ms-5 mt-3">{{producto.categoria}} | {{producto._id}}</p>
                        <p class="ms-5 mt-3"><b>Precio: L. {{producto.precio}} HNL</b></p>
                        <button type="button" class="btn btn-warning ms-5 mt-3"><b>Comprar</b></button>
                    </div>
                </div>
            </div>
        </div>
      </main>
      


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
