<div class="container-fluid">
    <div class="row">
        <h3 class="col-12 fs-4 mb-3 mt-3">Bienvenido 👋🏻,</h3>

        <!-- Primer card - dinero, balance y ventas totales -->
        <div class="col-12 row py-3 bg-white border rounded-2 mb-3">
            <div class="col-4 d-flex justify-content-center align-items-center border-end">
                
                <img src="../../../../assets/img/img-dinero.png" alt="dinero">
                <div class="ms-2">
                    <p class="titulo mb-0">Dinero</p>
                    <p class="dinero mb-0">L.160k</p>
                    <p class="este-mes mb-0">este mes</p>
                </div>
            </div>

            <div class="col-4 d-flex justify-content-center align-items-center border-end">
                
                <img src="../../../../assets/img/img-balance.png" alt="dinero">
                <div class="ms-2">
                    <p class="titulo mb-0">Balance</p>
                    <p class="dinero mb-0">L.3k</p>
                    <p class="este-mes mb-0">este mes</p>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center border-end">
                
                <img src="../../../../assets/img/img-total.png" alt="dinero">
                <div class="ms-2">
                    <p class="titulo mb-0">Total ventas</p>
                    <p class="dinero mb-0">L.30k</p>
                    <p class="este-mes mb-0">esta semana</p>
                </div>
            </div>
        </div>

        <!-- segunda card - lista de productos mas vendidos -->
        <div class="col-12 row bg-white py-4 border rounded-2">
            <div class="col-6">Productos vendidos</div>
            <div class="col-3">
                <img class="position-absolute h-auto mt-2 ms-2 " src="../../../../assets/icons/icon-lupa.svg" alt="lupa">
                <input type="text" class="form-control ps-5 titulo rounded-pill bg-dash-input  border-0" placeholder="Buscar...">
            </div> 
            <div class="col-3">

                <select class="form-select titulo rounded-pill bg-dash-input border-0" >
                    <option value="1" class="rounded-pill"><span>Ultimos 30 dias </span></option>
                    
                </select>
            </div>
            <div class="col-12 row mt-3 este-mes">
                <div class="col-6 border-bottom ">Nombre del producto</div>
                <div class="col-2 border-bottom d-flex justify-content-center">Stock</div>
                <div class="col-2 border-bottom d-flex justify-content-center">Precio</div>
                <div class="col-2 border-bottom d-flex justify-content-center">Ventas totales</div>
            </div>
            <div class="col-12 row mt-3 este-mes">
                <div class="col-6 d-flex"><img class="" src="../../../../assets/img/img-prueba-producto.png" alt="producto"><div class="d-inline ms-2">
                    <h5 >Abstract 3D 1</h5>
                    <span class="este-mes">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span>
                </div></div>
                <div class="col-2 d-flex align-items-center justify-content-center este-mes">50</div>
                <div class="col-2 d-flex align-items-center justify-content-center este-mes">L.1000</div>
                <div class="col-2 d-flex align-items-center justify-content-center este-mes">50</div>
            </div>

            <div class="col-12 row mt-3 este-mes">
                <div class="col-6 d-flex"><img class="" src="../../../../assets/img/img-prueba-producto.png" alt="producto"><div class="d-inline ms-2">
                    <h5 >Abstract 3D 2</h5>
                    <span class="este-mes">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span>
                </div></div>
                <div class="col-2 d-flex align-items-center justify-content-center este-mes">50</div>
                <div class="col-2 d-flex align-items-center justify-content-center este-mes">L.1000</div>
                <div class="col-2 d-flex align-items-center justify-content-center este-mes">50</div>
            </div>

            
        </div>
    </div>
</div>